{% import "_query_table.html" as querytable with context %}
{% import "_charts.html" as charts with context %}

{% set module = request.args.get('module') %}
{% if (module == 'error') %}
    <h2>Portfolio: Balance split - error journal</h2>
    {% import '_journal_table.html' as journal_table with context %}
    {{ journal_table.journal_table(extension.build_errors_journal(), True) }}
{% endif %}

{% set selected_portfolio = request.args.get('portfolio') %}
{% if not selected_portfolio %}
    {% set selected_portfolio = extension.get_portfolios_names()[0] %}
{% endif %}
{% for split_type in [
    'contributions',
    'withdrawals',
    'dividends',
    'costs',
    'gains_realized',
    'gains_unrealized',
    'balance',
] %}
    {% if (module == 'split_journal_' + split_type) %}
        {% set selected_portfolio = request.args.get('portfolio') %}
        {% if not selected_portfolio %}
            {% set selected_portfolio = extension.get_portfolios_names()[0] %}
        {% endif %}

        <h2>Portfolio: Balance split - {{ module }} journal</h2>
        {% import '_journal_table.html' as journal_table with context %}
        {{ journal_table.journal_table(extension.build_split_journal(split_type, selected_portfolio), True) }}
    {% endif %}
{% endfor %}

{% if not module %}
    <h2>Portfolio: Balance split</h2>
    <div class="headerline">
        {% for portfolio in extension.get_portfolios_names() %}
            <h3><b>
                {% if selected_portfolio == portfolio %}
                    {{ portfolio }}
                {% else %}
                    <a href="{{ url_for_current(portfolio=portfolio) }}">{{ portfolio }}</a>
                {% endif %}
            </b></h3>
        {% endfor %}
    </div>
    {% set summary = extension.split_summary(selected_portfolio) %}

    <table>
        {% for key in summary %}
            {% if key in ['sum_of_splits', 'balance', 'error'] %}
                <tr>
                    <td></td>
                </tr>
            {% endif %}
            <tr>
                <th>{{ key }}</th>
                <td style="text-align: right">
                    {% for pos in summary[key] %}{{ pos.units|format_amount }}<br>{% endfor %}
                <td>
                    {% if key not in ["sum_of_splits", "gains_unrealized", "error"] and '(' not in key %}
                        <a href="{{ url_for_current(module='split_journal_' + key, portfolio=selected_portfolio) }}">journal</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h3>Configured accounts</h3>
    {% set output = extension.accounts(selected_portfolio) %}
    <table>
        <tr>
            {% for key in output %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for key in output %}
                <td style="text-align: left">
                    <ul>
                        {% for item in output[key]|sort %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </td>
            {% endfor %}
        </tr>
    </table>
{% endif %}
